@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&family=DM+Sans&family=Viga&display=swap");
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 50px;
  height: 80px;
  z-index: 1;
}

.navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar .links .link {
  padding: 10px;
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0px 12px;
  letter-spacing: 2px;
}

@media (max-width: 850px) {
  .navbar .links .link {
    display: none;
  }
}

.navbar .links .link a {
  text-decoration: none;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 1px;
  text-shadow: 1px 1px 2px black;
  color: black;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.navbar .links .link a:hover {
  -webkit-text-stroke-color: white;
}

.menu {
  position: fixed;
  top: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  background: red;
  border-radius: 40px;
  border: black solid 2px;
  z-index: 9;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.menu:hover {
  border: white solid 3px;
}

.menu .toggler {
  position: absolute;
  height: 35px;
  width: 35px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.menu span {
  position: absolute;
  height: 3px;
  width: 30px;
  background: black;
}

.menu span::before {
  content: '';
  position: absolute;
  top: -10px;
  height: 3px;
  width: 30px;
  background: black;
}

.menu span::after {
  content: '';
  position: absolute;
  top: 10px;
  height: 3px;
  width: 30px;
  background: black;
}

.showmenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 6;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 50%;
}

.showmenu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  background: black;
  border-radius: 0;
}

.showmenu .showlinks {
  list-style-type: none;
}

.showmenu .showlinks .showlink {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 10px 0px;
  -webkit-transition: ease-in 0.4s 0.5s;
  transition: ease-in 0.4s 0.5s;
  opacity: 0;
}

.showmenu .showlinks .showlink.open {
  cursor: pointer;
  opacity: 1;
}

.showmenu .showlinks .showlink a {
  text-decoration: none;
  color: red;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

main .about .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: red;
}

main .about .intro .introtext {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  text-align: center;
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 320px) {
  main .about .intro .introtext {
    font-size: 3em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  main .about .intro .introtext {
    font-size: 3.5em;
  }
}

main .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background: black;
}

main .skill .maintain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin: 20px 0px;
  opacity: 0;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition: ease-in 0.6s 0.3s;
  transition: ease-in 0.6s 0.3s;
}

main .skill .maintain.appear {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .skill .maintain h3 {
  font-size: 2em;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: red;
  color: transparent;
}

main .skill .maintain i {
  color: white;
  font-size: 2em;
}

main .skill .maintain p {
  color: white;
  width: 50%;
}

main .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

main .project .projecttitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: red;
  padding: 20px;
}

main .project .projecttitle .projectname {
  color: transparent;
  font-size: 3.5em;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}

@media (max-width: 320px) {
  main .project .projecttitle .projectname {
    font-size: 2.5em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  main .project .projecttitle .projectname {
    font-size: 2.5em;
  }
}

@media (min-width: 376px) and (max-width: 415px) {
  main .project .projecttitle .projectname {
    font-size: 2.5em;
  }
}

main .project .myprojects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background: black;
}

main .project .myprojects .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
}

main .project .myprojects .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 20px;
  padding: 10px 10px;
  width: 225px;
  opacity: 0;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  -webkit-transition: ease-in 0.4s 0.3s;
  transition: ease-in 0.4s 0.3s;
}

main .project .myprojects .cards .card.appear {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

main .project .myprojects .cards .card img {
  width: 75%;
  height: auto;
  -webkit-animation: spin 3s ease-in infinite alternate;
          animation: spin 3s ease-in infinite alternate;
}

main .project .myprojects .cards .card .slow {
  -webkit-animation: spin 1s ease-in forwards infinite alternate;
          animation: spin 1s ease-in forwards infinite alternate;
}

main .project .myprojects .cards .card .fast {
  -webkit-animation: spin 5s ease-in forwards infinite alternate;
          animation: spin 5s ease-in forwards infinite alternate;
}

main .project .myprojects .cards .card p {
  color: white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer {
  width: 100%;
  height: 100%;
}

@media (min-width: 300px) and (max-width: 415px) {
  footer {
    height: 40vh;
  }
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
}

footer .contact .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: red;
  height: 100%;
}

footer .contact .logo h3 {
  font-size: 2em;
  color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

footer .contact .logo i {
  font-size: 1em;
}

footer .contact .logo .left {
  -webkit-transform: rotate(280deg);
          transform: rotate(280deg);
}

footer .contact .logo .right {
  -webkit-transform: rotate(90deg) scaleX(-1);
          transform: rotate(90deg) scaleX(-1);
  padding: 5px 2px;
}

footer .mycontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background: black;
  height: 100%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-top: 20px;
}

footer .mycontact h4 {
  color: transparent;
  font-size: 2em;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: red;
}

footer .contactinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .contactinfo .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 0px 20px;
  color: white;
  margin: 10px 0px;
}

@media (min-width: 300px) and (max-width: 415px) {
  footer .contactinfo .info {
    width: 100%;
  }
}

footer .contactinfo .info a {
  color: white;
  text-decoration: none;
}

footer .contactinfo .info a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .contactinfo .info i {
  font-size: 1.5em;
  color: red;
  padding-bottom: 10px;
}

footer .contactform {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: black;
  margin-top: -1px;
}

@media (min-width: 300px) and (max-width: 415px) {
  footer .contactform {
    height: 60vh;
  }
}

@media (min-width: 416px) and (max-width: 680px) {
  footer .contactform {
    height: 60vh;
  }
}

footer .contactform form {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

footer .contactform form.appear {
  opacity: 1;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

footer .contactform input {
  height: 35px;
  width: 300px;
  background: red;
  border: none;
  border-radius: 5px;
  margin-bottom: 12px;
  color: white;
  padding-left: 10px;
}

@media (min-width: 300px) and (max-width: 415px) {
  footer .contactform input {
    width: 80%;
  }
}

@media (min-width: 416px) and (max-width: 680px) {
  footer .contactform input {
    width: 90%;
  }
}

footer .contactform input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

footer .contactform input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

footer .contactform input::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

footer .contactform input::placeholder {
  color: white;
  opacity: 1;
}

footer .contactform input[type="text"] {
  margin-right: 12px;
}

@media (min-width: 300px) and (max-width: 415px) {
  footer .contactform input[type="text"] {
    margin-right: 0px;
  }
}

@media (min-width: 416px) and (max-width: 680px) {
  footer .contactform input[type="text"] {
    margin-right: 0px;
  }
}

footer .contactform textarea {
  display: block;
  height: 130px;
  width: 100%;
  background: red;
  resize: vertical;
  border: none;
  padding-left: 10px;
  color: white;
  border-radius: 5px;
}

@media (min-width: 300px) and (max-width: 415px) {
  footer .contactform textarea {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 416px) and (max-width: 680px) {
  footer .contactform textarea {
    width: 90%;
    margin: 0 auto;
  }
}

footer .contactform textarea::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

footer .contactform textarea:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

footer .contactform textarea::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

footer .contactform textarea::placeholder {
  color: white;
  opacity: 1;
}

footer .contactform .submit {
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 12px;
  background: red;
  color: transparent;
  letter-spacing: 1px;
  font-size: 1.3em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@media (min-width: 300px) and (max-width: 415px) {
  footer .contactform .submit {
    width: 80%;
  }
}

@media (min-width: 416px) and (max-width: 680px) {
  footer .contactform .submit {
    width: 90%;
  }
}

footer .alert {
  position: absolute;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Viga', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: black;
}

header .wings {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 100%;
}

header .airplaneleft {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  -webkit-animation: left 2s forwards;
          animation: left 2s forwards;
}

header .airplaneright {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: right 2s forwards;
          animation: right 2s forwards;
}

header .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 75px;
  height: 60%;
  width: 50%;
}

header .intro .name {
  z-index: 5;
  font-size: 4em;
  font-weight: 700;
  color: black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: red;
  text-shadow: 1px 1px 2px black;
}

@media (max-width: 320px) {
  header .intro .name {
    font-size: 3.2em;
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
}

header .intro .title {
  z-index: 5;
  text-align: center;
  font-size: 2.2em;
  color: white;
  margin-top: 10px;
}

@media (max-width: 320px) {
  header .intro .title {
    -webkit-transform: translate(0px, 200px);
            transform: translate(0px, 200px);
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  header .intro .title {
    -webkit-transform: translate(0px, 200px);
            transform: translate(0px, 200px);
  }
}

@media (min-width: 376px) and (max-width: 415px) {
  header .intro .title {
    -webkit-transform: translate(0px, 250px);
            transform: translate(0px, 250px);
  }
}

@-webkit-keyframes right {
  0% {
    width: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    width: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes right {
  0% {
    width: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    width: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes left {
  0% {
    width: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    width: 50%;
    -webkit-transform: scaleX(12);
            transform: scaleX(12);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes left {
  0% {
    width: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    width: 50%;
    -webkit-transform: scaleX(12);
            transform: scaleX(12);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=main.css.map */